h1 {
    color: #FF8C00;
    background: -webkit-linear-gradient(0deg, #b8a9fe, #fff, #b8a9fe);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer,
header {
    display: none;
}


@font-face {
    font-family: 'BurbankBigCondensed';
    src: url(../../assets/fonts/BurbankBigCondensed.otf)format('opentype');
}

@font-face {
    font-family: 'GN-KillGothic-U-KanaNB';
    src: url(../../assets/fonts/GN-KillGothic-U-KanaNB.ttf)format('truetype');
}



body {
    font-family: 'BurbankBigCondensed', 'GN-KillGothic-U-KanaNB' !important;
    background-size: cover;
    background-position: center;
}

.socials {
    color: #ffffff;
}

p#countdown {
    color: #ffffff;
}